name: google-java-format

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 */12 * * *'  #   分 时 日 月 周

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, 'GitHubAction:')"

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          #cache: gradle

      - name: Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/buildSrc/**/*.kt') }}

      - name: AVD cache
        uses: actions/cache@v2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-cache

      - name: checkout analysys-dev-sdk and sync
        shell: bash
        continue-on-error: true
        run: |
          git clone https://oauth2:${{ secrets.GTOKEN }}@github.com/hhhaiai/analysys-dev-sdk.git
          echo "===========clone over===================="
          ls
          cd analysys-dev-sdk
          echo "===========into analysys-dev-sdk===================="
          ls
          git checkout dev
          chmod -R 777 *
          git config core.filemode false

      - name: google-java-format
        shell: bash
        continue-on-error: true
        run: |
          cd analysys-dev-sdk
          wget https://repo1.maven.org/maven2/com/google/googlejavaformat/google-java-format/1.12.0/google-java-format-1.12.0-all-deps.jar
          echo "======================down load success, ls==================="
          ls
          echo "======================java版本测试==================="
          java -version
          echo "下载结果: $( $# == 0)"
          if [ $# == 0 ]; then
            chmod -R 777 *
            echo "======================find result==================="
            #find . -name "*.java"
            #find appdemo/src/main/java/com/device -name "*.java" -exec java -jar ./google-java-format-1.12.0-all-deps.jar -i -r -a --skip-reflowing-long-strings --skip-javadoc-formatting {} \;
            #find dev-sdk/src/main/java -name "*.java" -exec java -jar ./google-java-format-1.12.0-all-deps.jar -i -r -a --skip-reflowing-long-strings --skip-javadoc-formatting {} \;
            find . -name "*.java" -exec java --add-exports jdk.compiler/com.sun.tools.javac.api=ALL-UNNAMED  --add-exports jdk.compiler/com.sun.tools.javac.file=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.parser=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.tree=ALL-UNNAMED --add-exports jdk.compiler/com.sun.tools.javac.util=ALL-UNNAMED -jar ./google-java-format-1.12.0-all-deps.jar -i -r -a --skip-reflowing-long-strings --skip-javadoc-formatting {} \;
            echo "======================git status==================="
            echo "=================================================="
            git status
            echo "======================git diff==================="
            git diff
            git config --global user.name "GithubAction"
            git config --global user.email "sanbo.xyz@gmail.com"
            if [ -z "$(git status --porcelain)" ]
            then
              echo "============================nothing to update.==============================="
            else
              git add .
              git commit -am "GitHubAction: triggle by commit ${{ github.sha }}. created by ${{ github.workflow }}." -a
              git push
            fi
            #git add .
            #git config --global user.name "GithubAction"
            #git config --global user.email "sanbo.xyz@gmail.com"
            #git commit -am "GitHubAction: format code by google-java-format"
            #git push
          fi # end with down load process

      - name: Send mail
        uses: dawidd6/action-send-mail@v3
        with:
#          server_address: smtp.163.com
#          server_port: 465
#          server_address: smtp.gmail.com
#          server_port: 465
          server_address: smtp.exmail.qq.com
          server_port: 465
          username: ${{ secrets.MAILUSERNAME }}
          password: ${{ secrets.MAILPASSWORD }}
          subject: GithubActions[GOOGLE-JAVA-FORMAT]( ${{ github.job }} )
          to: ${{ secrets.MAIL_LIST }}
          from: github.com/hhhaiai
          body: GOOGLE-JAVA-FORMAT job ( ${{ github.job }} ) of ${{ github.repository }} completed successfully!
          ignore_cert: true
          priority: low
          secure: true
          #attachments: ./monkey_${{ matrix.api-level }}-${{ matrix.target }}-${{ matrix.arch }}.tgz
          #html_body: file://dev-sdk/build/reports/lint-results.html
          #convert_markdown: true